*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Times,'Times New Roman', serif;
}
body{
    max-height: 100%;
    position: relative;
    background-color: aliceblue
}

#sign-Up{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #e1e1e1 ;
    width: 40%;
    height: auto;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 0px 20px 6px rgb(133 32 168 / 31%);
    z-index: 1000;
    border-radius: 3px;
    
    
}


#photo-taker{
    
    padding-top: 4rem;
    padding-left: 0;
    margin-bottom: 1rem;
}
#photo-taker h5{
    /* padding-left: 2rem; */
    margin-bottom: 10px;
    font-size: 1.5rem;
    color:#9e48d4;
    padding: 0;
}
.details-popup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    
}
.details-popup input{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 20vw;
    height: 2rem;
    padding-left: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #e1e1e1  ;
}
.details-popup h5{
    font-size: 15px;
    font-weight: 500;
}


#signup-okay{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #9e48d4;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    box-shadow: 6px 6px 5px 2px rgba(0, 0, 0, 0.2);
}

/* start media query */
@media(max-width:1024px){
    #sign-Up {
    width: 50%;
   }
   .details-popup input{
    width: 100%;
    
  }
  #signup-okay {
    width: 100%; 
  }

}

@media(max-width:600px){

#sign-Up {
    width: 80%;
}
.details-popup input{
    width: 100%;
    
}
#signup-okay {
    width: 100%; 
}

}